DEBUG=True
DJANGO_SECRET_KEY="django-insecure-5be6d30a0e5197762ad0afc243fc5bd64085d0163b244c63fb663acd6da1ba615554888fe9ce9864a242bb0b0ed111cfcfb6"

#Database env
DATABASE_NAME="bluedrive_assessment_examination"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="5432"

PLATFORM="local"